
.Todo {
    display: flex;
    margin: 0 -3rem 4px;
    padding: 1.1rem 3rem;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
}

.Todo-task {
    position: relative;
}

.Todo-task.completed {
    opacity: 0.6;
}
.Todo-task.completed::before {
    content: "";
    position: absolute;
    top:50%;
    left: -0.5rem;
    display: block;
    background: #fff;
    width: 0px;
    height: 2px;
    animation: strikeitem 0.5s ease-out 0s forwards;
}

@keyframes strikeitem {
    to {
        width: calc(100% + 1rem);
    }
}

.Todo-buttons{
    flex-shrink: 0;
    padding-left: 0.7em;
}

.Todo-buttons button {
    border: none;
    font-size: 1em;
    margin: 0.4em;
    background: none;
    cursor: pointer;
    color: #fff;
}